{% set response = craft.app.runAction('entries/save-entry') %}
{% if response.isSuccessful %}
    {# https://daisyui.com/components/alert/#success-color #}
    <div id="alert" data-show="$alert" role="alert" class="alert alert-success">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <span>
            Entry successfully saved!
        </span>
    </div>
    <div id="title-{{ store.entryId }}">
        {{ store.title }}
    </div>
    <button id="edit-{{ store.entryId }}" data-on-click="$entryId = {{ store.entryId }}; $title = '{{ store.title }}'" data-show="$entryId != {{ store.entryId }}" class="btn">
        Edit
    </button>
    {% do store.entryId(0) %}
{% else %}
    {# https://daisyui.com/components/alert/#error-color #}
    <div id="alert" data-show="$alert" role="alert" class="alert alert-error">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <span>
            Error!
            {% for error in response.data.errors %}
                {{ error|first }}
            {% endfor %}
        </span>
    </div>
{% endif %}

{% do store.alert(true) %}
